@media (max-width: 960px) {
    .child {
        flex: 1 0 40%;
    }

    .second-column {
        margin-top: 0.8rem;
    }
}

@media (min-width: 960px) {
    .child {
        flex: 1 0 18%;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: #ff4500;
    --primary-color-dark: #f1430d;
}

* > .container {
    max-width: 1120px !important;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

a {
    color: #212529 !important;
    transition: 100ms ease-in-out;
}

a:hover {
    color: var(--primary-color) !important;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    margin: 8px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
