.primary-button {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.8rem;
    transition: 50ms ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.primary-button:hover {
    background-color: var(--primary-color-dark);
    color: white;
}
