@media (max-width: 960px) {
    .social-media-item {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 960px) {
    .social-media-item {
        height: 10rem;
        width: 10rem;
    }
}

.social-media-item {
    border-radius: 1.25rem !important;
    transition: 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-item:hover {
    transform: scale(1.05);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

a {
    text-decoration: none !important;
}
