@media (max-width: 960px) {
    .company-card {
        height: 100%;
    }
}
@media (min-width: 960px) {
    .company-card {
        height: 46rem;
    }
}

.company-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.company-card > img {
    width: 100%;
}

.company-card > h4 {
    margin-top: 1rem;
}
