.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    border-radius: 1rem !important;
    transition: 150ms ease-in-out;
}

.product-item > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-item:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}
