.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 11rem;
    width: 20rem;
    border-radius: 1.2rem !important;
    margin-inline: 0.5rem;
    transition: 150ms ease-in-out;
}

.product-item:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}
